<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="author" content="WadeSoft Inc.">
<meta name="copyright" content="WadeSoft Inc.">
<meta name="subject" content="셀프배포">
<link rel="canonical" href="https://Audee.co.kr/" data-react-helmet="true">

<meta name="keywords" content="">

<!-- Open Graph -->
<meta property="og:site_name" content="셀프배포">
<meta property="og:title" content="셀프배포 - 배포 서비스">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:image" content="/assets/image/brand/og_image.jpg">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="셀프배포">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="/assets/image/brand/og_image.jpg">

<meta name="naver-site-verification" content="59364f319d19072a0ab672d587a064a9b29d9304">

<link rel="shortcut icon" type="image⁄x-icon" href="/assets/image/icon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/image/icon/apple-touch-icon.png">
<link rel="icon" sizes="32x32" href="/assets/image/icon/favicon.ico">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">

<link href="/assets/plugins/loader/loader.css" rel="stylesheet">

<link href="/css/main.css" rel="stylesheet">
<link href="/assets/plugins/toast/toast.css" rel="stylesheet">
<link href="/assets/plugins/alert/alert.css" rel="stylesheet">


<script defer data-domain="셀프배포.com" src="https://plausible.io/js/script.js"></script>
